:root{
  --header-margin-inline:20px;
  --header-margin-block:27px;
  --header-border-radius:30px;
  --main-font-color: #404040FF;
  --main-color-Gray: rgb(200, 200, 200);
  --main-color-whiteGray: rgb(220, 220, 220);
  --main-color-lightGray: rgb(240, 240, 240);
  --main-color-DarkGray: rgb(160, 160, 160);
  --z-index-modal-window:100;
  --z-index-modal-background:90;
  --z-index-modal-header:110;
}