.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 1040px;
  padding-bottom: 150px;
  box-shadow: 0 10px 20px 10px rgba(0,0,0,0.75);
}
.redirect-button{
  font-size: .7rem;
  font-weight: bold;
  color: var(--main-color-DarkGray);
  border: 2px solid var(--main-color-DarkGray);
  border-radius: 10px;
  padding: 0 5px;
  transition: 0.5s;
  &:hover{
    color: var(--main-font-dark-color);
    background-color: var(--main-color-lightGray);
    border-color: var(--main-font-dark-color);
  }
}
.headerSlider-container{
  position: absolute;
  bottom: 20px;
  left:50px;
}
.headerSlider-title{
  font-weight: bold;
  font-size: 2rem;
  color: rgba(240, 240, 240, 0.9);
}
.headerSlider-genres{
  color: rgba(240, 240, 240, 0.9);
  font-size: 1.1rem;
}
.Slider-title{
  color: rgba(240, 240, 240, 0.9);
  font-size: 1rem;
  font-weight: bold;
  bottom: 10px;
  left:25px;
}
.Slider-container{
  position: absolute;
  bottom: 10px;
  left:25px;
}
.Slider-title{
  font-weight: bold;
  font-size: 1rem;
  color: rgba(240, 240, 240, 0.9);
}
.Slider-genres{
  color:rgba(240, 240, 240, 0.9);
  font-size: .5rem;
}
.Slider-rating{
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: .8rem;
  font-weight: bold;
  color: rgba(240, 240, 240, 0.9);
  background-color: #3FCF74;
  padding: 5px 10px;
  border-radius: 20px;
}