<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Reviewer</title>
    <link rel="stylesheet" href = "/static/css/Reviewer-profile-style.css">
</head>
<body>
<main class="main">
    <div class = "main__header">
        <a class="main__header-main-redirect header-redirect">Главная</a>
        <a class="main__header-settings-redirect header-redirect">Настройки</a>
        <a class="main__header-current-page header-redirect">Профиль</a>
    </div>
    <div class="main__head">
        <img src="" alt="" class="main__head-avatar">
        <h4 class="main__head-username">adad</h4>
        <p class="main__head-email">dsad</p>
    </div>
</main>
<script defer src="/static/js/Reviewer-profile.js"></script>
</body>
</html>