.head{
  @media (max-width: 1040px){
    width:100vw;
  }
  @media (max-width: 800px){
    width: 800px;
  }
  width: 1040px;
  display: flex;
  padding: 77px;
  gap:45px;
  align-items: center;
  color: var(--main-font-color);
  &__film-img{
    max-width: 180px;
    border-radius: 5px;
  }
  &__second-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 460px;
  }
  &__genre{
  }
    &__title{
      font-size: 1.4rem;
    }

  &__short-description{
    line-height: 1.2;
  }
  &__third-part{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &__film-rating{
    font-size: 2.5rem;
    font-weight: bold;
    color: #3FCF74;

    &-title{
      margin-bottom: 20px;
    }
  }




}