.main{
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 650px;
  align-items: center;
  box-shadow: 0 0 10px black;
  min-height: 100vh;
  background-color: white;
}
.content-active{
  display: flex;
}
.content-inactive{
  display: none;
}